.content-area {
	margin: 30px 10% 30px 10%;
	width: 80%;
	height: auto;
	background-color: gray;
	color: black;
	border-radius: 18px;
	padding: 20px;
}

.content-area h1 {
	margin-top: 0px;
	font-size: 60px;
	font-weight: 100;
}

input {
	border-radius: 10px;
	width: 60%;
	padding: 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
}

.content-area  textarea {
	border-radius: 10px;
	padding: 5px;
	width: 60%;
	resize: none;
	height: 70px;
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;;
}

.form-button {
	width: 100px;
	margin-left: 10px;
}

.button-box {
	height: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#cancel {
	margin-right: 50px;
}