.calendar-wrap {
	margin-left: 100px;
	margin-right: 100px;
}

.calendar-div ul {
	padding: 0;
	margin: 0;
}

.calendar-div li {
	display: block;
	float: left;
	width: 14.285%;
	padding: 10px;
	box-sizing:border-box;
	border: 1px solid white;
	border-radius: 30px;
	margin-right: -1px;
	margin-bottom: -1px;
}

.days li {
	background-color: rgba(0, 0, 0, 0.5);
}

.calendar-div ul.weekdays {
	height: 40px;
	background: rgba(0, 0, 0, 0.7);
	width: 99.45%;
}

.calendar-div ul.weekdays li {
	text-transform: uppercase;
	border: none !important;
}

.calendar-div .days li {
	height: 180px;
}

.calendar-div .date {
	margin-bottom: 5px;
	padding: 4px;
	background: rgba(255, 0, 76, 1);
	width: 20px;
	border-radius: 50%;
	float: right;
}

.calendar-div .details {
	clear: both;
	border-radius: 20px;
	padding: 5px;
	line-height: 14px;
	background: white;
	color: black;
	margin: 3px 0 7px 0;
}

.calendar-div .details:hover{
	color: white;
	background: rgba(255, 0, 76, 1);
}

.dateView{
	width: 249px; /* fixed size, because of the arrows should not move. The name of  months have a different length */
}

.calendar-div .other-month {
	background-color: rgba(255, 0, 76, 0.5);
}

.today-area{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.next-previous-btn{
	margin: 15px;
	height: 30px;
}

.next-previous-btn:hover{
	background-color: rgb(215, 123, 123);	
}