a {
	text-decoration: none;
}

.liste {
	margin: 30px 10% 30px 10%;
	width: 80%;
	height: auto;
}

.list-element {
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	height: auto;
	padding: 10px;
	color: white;
	align-items:baseline;
	vertical-align: middle;

	display: flex;
	position: relative;
	border-radius: 18px;
	border:1px solid rgba(255, 0, 76, 1);
	margin-top: 5px;
	margin-bottom: 5px;
}

.birthdate-element {
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	
	padding: 10px;
	color: white;

	display: inline-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-radius: 18px;
	border:1px solid rgba(255, 0, 76, 1);
	margin-top: 5px;
	margin-bottom: 5px;
}

.subdiv {
	display: inline-flex;
	flex-grow: 1;
	width: 100%;
	height: 100%;
}

.date {
	justify-content: flex-start;
}

.name {
	justify-content: center;
}

.countdown {
	justify-content: flex-end;
}

/* .cross-btn {
	margin-right: 10px;
	height: 1.5em;
	width: auto;
	padding: 10px;
} */