.bdaylist {
	margin: 30px 10% 30px 10%;
}

.birthdate-element {
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	padding: 15px;
	display: inline-flex;
	border-radius: 18px;
	border: 1px solid rgb(255, 255, 255);
	margin-top: 5px;
	margin-bottom: 5px;
}

.birthdate-element:hover {
color: rgba(255, 0, 76, 1);
	background: white;
}

.subdiv {
	display: inline-flex;
	width: 100%;
}

.name {
	justify-content: center;
}

.countdown {
	justify-content: flex-end;
}