.content-area {
	margin: 30px 10% 30px 10%;
	width: 80%;
	height: auto;
	background-color: gray;
	color: black;
	border-radius: 20px;
	padding: 20px;
}

.content-area h {
	margin-top: 0px;
	font-size: 60px;
	font-weight: 100;
}